node_modules/

student_*.txt
project_*/
data_*.txt
processed_*.txt
source_*/
backup_*/
sync_report_*.txt
report_*.jsoncli-lab17/node_modules/
cli-lab17/dist/
cli-lab17/*.exe
cli-lab17/node_modules/
cli-lab17/dist/
cli-lab17/*.exe
*.log
